/* variables */
:root {
  --primary-color: #0a0141;
  --secondary-color: #6d0ff2;
  --secondary-light: #b99ad9;
}

/* general */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Nunito", sans-serif;
  font-style: normal;
}
[id] {
  scroll-margin-top: 2rem;
}

/* container */
.container {
  max-width: 1400px;
  padding-inline: 32px;
}
/* buttons */
.btn-primary {
  background-color: var(--primary-color);
  opacity: 0.9;
}

.btn-primary:hover {
  background-color: var(--primary-color);
  opacity: 1;
}
.btn-primary:active {
  background-color: var(--secondary-color) !important;
  transform: scale(0.99);
}

/* text */
.fs-caption {
  font-size: 14px;
}
.fs-caption-sm {
  font-size: 12px;
}
.text-purple {
  color: var(--secondary-color);
}
.text-purple-light {
  color: var(--secondary-light);
}
.text-bg-purple {
  background-color: var(--secondary-color);
}

/* hr */
hr {
  border-color: var(--secondary-light);
  border-width: 10px;
}

/* header */
.header {
  background-color: var(--primary-color);
}
/* navbar */
.navbar-brand {
  font-family: "Lilita One", sans-serif;
  font-style: normal;
  font-size: 1.5rem;
  letter-spacing: 0.25px;
}

.nav-link {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

/* hero-section carousel */
.hero-section .carousel-section {
  margin-top: 86px;
  height: calc(70vh - 94px);
}
.hero-section .carousel,
.hero-section .carousel-inner {
  height: 100%;
}
.hero-section .carousel-item {
  height: 100%;
  background-size: cover;
  background-position: center;
}

.hero-section .item-1 {
  background-image: linear-gradient(
      to bottom,
      rgba(189, 154, 217, 1),
      rgba(109, 15, 242, 0.9),
      rgba(214, 201, 242, 0.9)
    ),
    url("../img/carousel/san_pedro_de_atacama.jpg");
}

.hero-section .item-2 {
  background-image: linear-gradient(
      to bottom,
      rgba(189, 154, 217, 1),
      rgba(109, 15, 242, 0.9),
      rgba(214, 201, 242, 0.9)
    ),
    url("../img/carousel/torres_del_paine.jpg");
}

.hero-section .item-3 {
  background-image: linear-gradient(
      to bottom,
      rgba(189, 154, 217, 1),
      rgba(109, 15, 242, 0.9),
      rgba(214, 201, 242, 0.9)
    ),
    url("../img/carousel/isla_de_pascua.jpg");
}

/* services section */
.services-section {
  height: calc(30vh - 16px);
}

/* about section */
.about-section h3 {
  min-height: 67px;
}

/* top offers section */
.top-offers .carousel {
  max-width: 350px;
}
.top-offers h3 {
  width: 100%;
  max-width: 350px;
}

/* card img */

.card-img-top {
  aspect-ratio: 16/9;
  object-fit: cover;
}

/* top offers lg */
.top-offers-lg h3 {
  width: fit-content;
}

/* form contact */
.form-contact button {
  width: 100%;
}

/* icons social media */
.fa-square-instagram:hover,
.fa-facebook:hover,
.fa-twitter:hover {
  color: var(--secondary-light);
  transition: 0.3s all;
}

@media screen and (min-width: 768px) {
  .fa-solid,
  .fa-brands {
    font-size: 24px;
  }
  .top-offers .card-title {
    min-height: 64px;
  }

  .top-offers p.card-text:has(span) {
    min-height: 49px;
  }
}

@media screen and (min-width: 992px) {
  .form-contact button {
    width: 300px;
  }
}

@media screen and (min-width: 1200px) {
  .about-section h3 {
    min-height: auto;
  }
}
