/* variables */
:root {
  --primary-color: #6d0ff2;
  --primary-light: #b99ad9;
  --secondary-color: rgb(112, 90, 191);
  --secondary-light: #d6c9f2;
  --accent-color: #f2b807;
}

/* general */
body {
  font-family: "Nunito", sans-serif;
  font-style: normal;
}

/* navbar */

.header {
  background-color: var(--primary-color);
}
.navbar-brand {
  font-family: "Lilita One", sans-serif;

  font-style: normal;
  font-size: 1.5rem;
  letter-spacing: 0.25px;
}

.nav-link {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

/* carousel */
.carousel-section {
  margin-top: 86px;
  height: calc(70vh - 94px);
}
.carousel,
.carousel-inner {
  height: 100%;
}
.carousel-item {
  height: 100%;
  background-size: cover;
  background-position: center;
}

.carousel-item:first-child {
  background-image: linear-gradient(
      to bottom,
      rgba(189, 154, 217, 1),
      rgba(109, 15, 242, 0.9),
      rgba(214, 201, 242, 0.9)
    ),
    url("../img/carousel/san_pedro_de_atacama.jpg");
}

.carousel-item:nth-child(2) {
  background-image: linear-gradient(
      to bottom,
      rgba(189, 154, 217, 1),
      rgba(109, 15, 242, 0.9),
      rgba(214, 201, 242, 0.9)
    ),
    url("../img/carousel/torres_del_paine.jpg");
}

.carousel-item:last-child {
  background-image: linear-gradient(
      to bottom,
      rgba(189, 154, 217, 1),
      rgba(109, 15, 242, 0.9),
      rgba(214, 201, 242, 0.9)
    ),
    url("../img/carousel/isla_de_pascua.jpg");
}

/* services section */
.services-section {
  height: calc(30vh - 16px);
}
