/* variables */
:root {
  --primary-color: #0a0141;
  --secondary-color: #6d0ff2;
  --secondary-light: #b99ad9;
  --accent-color: #f2b807;
}

/* general */
body {
  font-family: "Nunito", sans-serif;
  font-style: normal;
}
/* buttons */
.btn-primary {
  background-color: var(--primary-color);
  opacity: 0.9;
}

.btn-primary:hover {
  background-color: var(--primary-color);
  opacity: 1;
}
.btn-primary:active {
  background-color: var(--secondary-color) !important;
  transform: scale(0.99);
}

/* hr */
hr {
  border-color: var(--secondary-light);
  border-width: 10px;
}

/* navbar */

.header {
  background-color: var(--primary-color);
}
.navbar-brand {
  font-family: "Lilita One", sans-serif;
  font-style: normal;
  font-size: 1.5rem;
  letter-spacing: 0.25px;
}

.nav-link {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

/* carousel */
.carousel-section {
  margin-top: 86px;
  height: calc(70vh - 94px);
}
.carousel,
.carousel-inner {
  height: 100%;
}
.carousel-item {
  height: 100%;
  background-size: cover;
  background-position: center;
}

.carousel-item:first-child {
  background-image: linear-gradient(
      to bottom,
      rgba(189, 154, 217, 1),
      rgba(109, 15, 242, 0.9),
      rgba(214, 201, 242, 0.9)
    ),
    url("../img/carousel/san_pedro_de_atacama.jpg");
}

.carousel-item:nth-child(2) {
  background-image: linear-gradient(
      to bottom,
      rgba(189, 154, 217, 1),
      rgba(109, 15, 242, 0.9),
      rgba(214, 201, 242, 0.9)
    ),
    url("../img/carousel/torres_del_paine.jpg");
}

.carousel-item:last-child {
  background-image: linear-gradient(
      to bottom,
      rgba(189, 154, 217, 1),
      rgba(109, 15, 242, 0.9),
      rgba(214, 201, 242, 0.9)
    ),
    url("../img/carousel/isla_de_pascua.jpg");
}

/* services section */
.services-section {
  height: calc(30vh - 16px);
}

.about-section h3 {
  min-height: 67px;
}

@media screen and (min-width: 768px) {
  .fa-solid,
  .fa-brands {
    font-size: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .about-section h3 {
    min-height: auto;
  }
}
